<p>
  <strong>ID:</strong>
  <%= @robot.id %>
</p>
<p>
  <strong>PositionX:</strong>
  <%= @robot.positionX %>
</p>
<p>
  <strong>PositionY:</strong>
  <%= @robot.positionY %>
</p>
<p>
  <strong>Direction:</strong>
  <%= @robot.direction %>
</p>

